{% extends 'base.html' %}
{% block title %} {{ object.title }} {% endblock %}

{% block content %}
<div class="Top-Background">
</div>
<div class="post-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{{ object.title }}</h1>
          <br>
          {% comment %} Carousel Wrapper {% endcomment %}
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
              {% for images in object.fkListingImageID.all %}        
                  <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        <img class="property-images" src="{{images.image.url}}" alt="{{images.name}}">
                  </div>
              {%endfor%}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
          
          <p class="text-muted-details">${{ object.price }} | {{ object.location }} | {{ object.area }}<sup>m2</sup></p>
          <p class="card-text-details">{{ object.description | safe }}</p>
          {% comment %} Render Map {% endcomment %}
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_KEY}}&callback=initMap&v=weekly"
    defer
    loading="async"
  ></script>

  <script type="text/javascript">

    function initMap() {
      // Split Lat, long
      let split_location_str = "{{ object.position | safe }}"
      let split_location_array = split_location_str.split(",")
      let lat_float = parseFloat(split_location_array[0])
      let long_float = parseFloat(split_location_array[1])
      // The location
      const ulocation = { lat: lat_float, lng: long_float };
      // The map, centered
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: ulocation,
      });
      // The marker, positioned at ulocation
      const marker = new google.maps.Marker({
        position: ulocation,
        map: map,
      });
    }

    $(document).ready(function(){
      window.initMap = initMap;
    });

  </script>
{% endblock javascript %}